.App {
  text-align: center;
}

.App-header {
  margin-top: 20px;
  margin-left: 10px;
  text-align: left;
}

.App-header span {
  margin: 10px;
  font-size: 14px;
}

.App-span-enter {
  text-decoration: underline;
}

.App-span-out {
  text-decoration: none;
}

.App-body {
  background-color: #ffffff;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.App-logo {
  margin-bottom: 3vh;
}

#blank {
  margin: 5%;
}
