.App-area-enter {
  box-shadow: 1px 1px 0px 0px #9aa0a6;
  border-top-width: 0px;
}

input {
  border-style: solid;
  border-radius: 30px;
  min-width: 50vh;
  border-width: 2px;
  padding-right: 35px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 35px;
  border-color: #dfe1e5;
  outline: #dfe1e5;
  box-shadow: none;
  background: url(../../assets/search-icon-png-18.png);
  background-position: 13px 13px;
  background-repeat: no-repeat;
  background-size: 15px;
}
